/************************** Reservation Form ***************************/

/* CSS */

.reservation-form-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #4DA0B0;
  background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);  
  background: linear-gradient(to right, #D39D38, #4DA0B0);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 30%) 0 19px 38px, rgb(0 0 0 / 22%) 0 15px 12px;
}

.reservation-form-container h2 {
  text-align: center;
  color: white;
            font-size: 50px;
            text-shadow: -1px 1px 0 #3b3737,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
  font-size: 2.4rem;
  font-weight: bolder;
  margin-bottom: 25px;
}

.reservation-form-container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 95%;
  
}

.reservation-form-container label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

.reservation-form-container input,
.reservation-form-container select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  font-size: 1.3rem;
  color: #3d4947;
  border-radius: 4px;
  box-shadow: rgb(204 219 232) 3px 3px 6px 0 inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
  box-sizing: border-box;
}

.reservation-form-container button {
  width: 50%;
  padding: 20px;
  margin-top: 10px;
  background-color: #52caee;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
  align-self: center;
  transition: transform 0.3s ease-in-out;
  border: 2px solid gray;
}

.reservation-form-container button:hover {
  background-color: #24dae7;
  color: #333;
  transform: translateY(-5px);
}