/***************************** Detail *****************************/

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.card {
  width: 30%;
  padding: 20px;
  box-shadow: rgb(50 50 93 / 25%) 0 6px 12px -2px, rgb(0 0 0 / 30%) 0 3px 7px -3px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: rgb(56 59 59);
}

.desc p{
    margin-bottom: 10px;
    text-align: start;
    font-size: 1.2rem;
}
