/* car-details.css */

.detail-container {

  float: right;
  margin-right: 5%;
  margin-top: 100px;
  width: 600px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.detail-image img {
  width: 800px;
  height: auto;
  border-radius: 5px;
  margin-left: 12%;
  margin-top: 10%;
  float: left;
}

.detail-info {
  flex: 1;
}

h2 {

  margin-right: 10%;
  width: 300px;
  margin-bottom: 50px;
  font-size: larger;
  font-weight: bold;


}

.desc {

  margin-right: 10%;
  margin-bottom: 50px;

  width: 300px;


}

.rform {

  margin-right: 10%;
  width: 300px;


}




.date input {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reserve-button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #96bf01;
  color: #fff;
  cursor: pointer;
  font-size: large;
}

.reserve-button:hover {
  background-color: #0056b3;
}

/* Additional styling for responsiveness */

@media screen and (max-width: 600px) {
  .detail-card {
    flex-direction: column;
    align-items: center;
  }

  .detail-image img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .detail-info {
    text-align: center;
  }
}