.container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-title h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
}

.car-title p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 15%;
}

button {
    color: #96bf01;
    font-size: 4rem;
    font-weight: bolder;
    cursor: pointer;
    padding: 20px;
}

.carousel {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
}

.carousel ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    margin: auto;
}

.car-card {
    width: 100%;
    height: 100%;
    max-height: 400px;
  margin: 0 1.3rem;
  padding: 10%;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
}

.car-card a{
  padding: 2rem;
  width: 100%;
}