/*
* Your custom CSS goes here but before adding a lot of CSS check this out:
*   https://tailwindcss.com/docs/extracting-components
*/

/* stylelint-disable */
/* Tailwind Base */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');


/* Custom CSS  */
@import "./custom.css";
@import "./OurCars.css";