@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --black-gradient: linear-gradient(144.39deg, #fff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgb(66 71 91 / 10%);
}

* {
  scroll-behavior: smooth;
}

nav {
  margin: 3%;
  border: 1px solid #2b2828;
  padding: 1.2rem;
  width: fit-content;
}

nav ul li a {
  font-size: 1.3rem;
  font-weight: bold;
  color: #214d76;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
}

.bg-black-gradient {
  background: linear-gradient(144.39deg, #fff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg, #fff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg, rgb(255 255 255 / 0%) -341.94%, #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0 20px 100px -10px rgb(66 71 91 / 10%);
}

.sidebar {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-card:last-child {
    margin-right: 0;
  }
  
  .feedback-card:hover {
    background: var(--black-gradient);
  }
  
  .feedback-container .feedback-card {
    background: transparent;
  }
  

.blue-gradient {
  background: linear-gradient(180deg, rgb(188 165 255 / 0%) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink-gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white-gradient {
  background: rgb(255 255 255 / 60%);
  filter: blur(750px);
}
